{% extends 'bootstrapbase.html' %}

{% block title %}
{% if title %}{{ title }} - AI Meme{% else %}Welcome to AI Meme{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AI Meme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('emoji') }}">Emojifier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('meme') }}">Meme Classifier</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <br>
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {# application content needs to be provided in the app_content block #}
  {% block app_content %}{% endblock %}
</div>
{% endblock %}