{% extends "base.html" %}

{% block app_content %}

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->

<div id="graph"></div>
<div id="buttons"><span>Input: </span></div>
<div><span>Click on words to get insights on how much it influenced each emoji choice.</span></div>

<script>
    var emojis = ["😂", "😍", "😭", "😊", "💕", "😒", "😉", "👌", "👍", "🙏", "👀", "🔥", "💯", "👏", "💪"];
    d3.json("/csv/emoji_insights.json", function (data) {
        data.forEach(function (d) {
            d3.select("#buttons")
                .append("span")
                .attr("class", "clickable")
                .on("click", function () {
                    update(d)
                })
                .text(d['text'])
        });
        update(data[0]);
    });

    // set the dimensions and margins of the graph
    var margin = {
            top: 30,
            right: 30,
            bottom: 70,
            left: 60
        },
        width = 800 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#graph")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // A function that create / update the plot for a given variable:
    function update(group_data) {
        svg.selectAll("*").remove();
        console.log(group_data);

        // X axis
        var x = d3.scaleBand()
            .range([0, width])
            .domain(emojis)
            .padding(0.2);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))

        // text label for the x axis
        svg.append("text")
            .attr("transform",
                "translate(" + (width / 2) + " ," +
                (height + margin.top + 20) + ")")
            .style("text-anchor", "middle")
            .text("Emoji");

        // specify bar width
        var bar_width = x.bandwidth();

        // another scale for grouped bar chart
        var x_bars = d3.scaleBand()
            .range([0, bar_width])
            .domain(group_data.words);

        // Add Y axis, adjusts depending on probabilities
        var y = d3.scaleLinear()
            .domain([0, d3.max(group_data.probs, d => d.value) + 0.2])
            .range([height, 0]);
        svg.append("g")
            .attr("class", "myYaxis")
            .call(d3.axisLeft(y));

        // text label for the y axis
        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left)
            .attr("x", 0 - (height / 2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text("Probability");

        // color
        var color = d3.scaleOrdinal(d3.schemeCategory10)
            // .range(["darkgray","orange","green","red","blue"])
            .domain(group_data.words);

        svg.selectAll("rect")
            .data(group_data.probs)
            .enter()
            .append("rect")
            .attr("x", function (d) {
                return x(d.emoji) + x_bars(d.word);
            })
            .attr("y", function (d) {
                return y(0);
            })
            .attr("width", x_bars.bandwidth())
            .attr("height", function (d) {
                return height - y(0);
            })
            .attr("fill", d => color(d.word));

        // animation
        svg.selectAll("rect")
            .transition()
            .duration(800)
            .attr("y", d => y(d.value))
            .attr("height", d => height - y(d.value));
        // .delay(function(d,i){console.log(i) ; return(i*100)});

        // legend dots
        svg.selectAll("mydots")
            .data(group_data.words)
            .enter()
            .append("circle")
            .attr("cx", 40)
            .attr("cy", function (d, i) {
                return 10 + i * 25
            })
            .attr("r", 7)
            .attr("fill", d => color(d));

        // legend text
        svg.selectAll("mylabels")
            .data(group_data.words)
            .enter()
            .append("text")
            .attr("x", 60)
            .attr("y", function (d, i) {
                return 10 + i * 25
            })
            .style("fill", d => color(d))
            .text(d => d)
            .attr("text-anchor", "left")
            .style("alignment-baseline", "middle")
    }
</script>
{% endblock %}