{% extends "base.html" %}

{% block app_content %}
<h1>AI Meme Generator</h1>

<!-- <div class="card">
  <div class="card-header">
    <a class="cardlink" href="{{ url_for('home') }}">About the Team</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Eric</h5>
    <p class="card-text">A MEng student </p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Kathy</h5>
    <p class="card-text">Some info.</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Marvin</h5>
    <p class="card-text">Some info.</p>
  </div>
</div><br> -->

<div class="card">
  <div class="card-header">
    <a class="cardlink" href="{{ url_for('emoji') }}">Emojifier</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">About the Project</h5>
    <p class="card-text">Emojifier is a project that adds Emojis to text. This
    is done using TFiDF vectorization and a logistic regression model. The model
  was trained on twitter data and only predicts about 15 emojis.  </p>
  </div>
</div><br>

<div class="card">
  <div class="card-header">
    <a class="cardlink" href="{{ url_for('meme') }}">Meme Classifier</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">About the Project</h5>
    <p class="card-text">Meme Classifier is a project that given a text,
    classifies it into one of 10 meme formats. This is done using TFiDF
    vectorization and a logistic regression model. The model was trained on data
    obtained from imgflip.</p>
  </div>
</div><br>

{% endblock %}